## Foundations of Pandas

#### import libraries

In [2]:
import pandas as pd

#### import data

In [9]:
ds = pd.read_csv('sales_export.csv')

#### üß™ EDA

#####  üòÄ check the first few records

In [10]:
ds.head()

,store_number,terminal,store_name,sale_id,customerid,sale_date,product_description,sale_start_time,sale_end_time,sale_type,...,store_address,store_city,store_state,store_zip,store_phone,brand,size,points,redeemed_points,price_modification.1
0,725,902,mikes playground,95,NaN,4/29/2025,Choc Pop Tarts 13,104656,104711,VOIDED,...,123 asy St,Nashville,TN,37206,5555555555,NaN,NaN,0,0,NaN
1,725,902,mikes playground,94,NaN,4/29/2025,Choc Pop Tarts 13,94904,94907,SALE,...,123 asy St,Nashville,TN,37206,5555555555,NaN,NaN,0,0,NaN
2,725,902,mikes playground,96,NaN,4/29/2025,Choc Pop Tarts 13,110220,110236,SALE,...,123 asy St,Nashville,TN,37206,5555555555,NaN,NaN,0,0,NaN
3,725,902,mikes playground,97,NaN,4/29/2025,American Cheese,132928,133002,SALE,...,123 asy St,Nashville,TN,37206,5555555555,NaN,NaN,0,0,NaN
4,725,902,mikes playground,98,NaN,4/29/2025,Duracell Batteries,134032,134322,SALE,...,123 asy St,Nashville,TN,37206,5555555555,NaN,NaN,0,0,NaN

##### ‚ÑπÔ∏è get the info

In [11]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 70 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   store_number                85 non-null     int64
 1   terminal                    85 non-null     int64
 2   store_name                  85 non-null     object
 3   sale_id                     85 non-null     int64
 4   customerid                  21 non-null     float64
 5   sale_date                   85 non-null     object
 6   product_description         85 non-null     object
 7   sale_start_time             85 non-null     int64
 8   sale_end_time               85 non-null     int64
 9   sale_type                   85 non-null     object
 10  line_number                 85 non-null     int64
 11  cashier_number              85 non-null     int64
 12  cashier_name                85 non-null     object
 13  customer_name               21 non-null     object
 14  customer_member_level       85 non-null     int64
 15  customer_phone              5 non-null      float64
 16  customer_address            19 non-null     object
 17  customer_city               19 non-null     object
 18  customer_zip                19 non-null     float64
 19  product_code                56 non-null     float64
 20  sub_department              58 non-null     float64
 21  sale_qty                    85 non-null     int64
 22  sale_price                  85 non-null     float64
 23  weight                      85 non-null     float64
 24  price                       85 non-null     float64
 25  price_split                 85 non-null     int64
 26  fs                          19 non-null     float64
 27  fsa                         0 non-null      float64
 28  tax1                        19 non-null     float64
 29  tax2                        0 non-null      float64
 30  tax3                        0 non-null      float64
 31  tax4                        0 non-null      float64
 32  tax5                        0 non-null      float64
 33  tax6                        0 non-null      float64
 34  tax7                        0 non-null      float64
 35  wic                         11 non-null     float64
 36  scalable                    85 non-null     int64
 37  follow_sub                  56 non-null     float64
 38  price_type                  56 non-null     object
 39  product_description.1       85 non-null     object
 40  cost                        85 non-null     float64
 41  case_size                   85 non-null     int64
 42  void_flag                   85 non-null     int64
 43  refund_flag                 85 non-null     int64
 44  price_modification          85 non-null     float64
 45  store_coupon                85 non-null     float64
 46  vendor_coupon               85 non-null     float64
 47  category                    54 non-null     float64
 48  category_description        54 non-null     object
 49  sub_department_description  58 non-null     object
 50  vendor_id                   44 non-null     float64
 51  vendor_name                 44 non-null     object
 52  package_discount            85 non-null     float64
 53  limited_discount            85 non-null     float64
 54  item_discount_amount        85 non-null     float64
 55  item_discount_percent       85 non-null     float64
 56  elec_store_coupon           85 non-null     float64
 57  qty                         85 non-null     int64
 58  total_sales                 85 non-null     float64
 59  customer_state              21 non-null     object
 60  store_address               85 non-null     object
 61  store_city                  85 non-null     object
 62  store_state                 85 non-null     object
 63  store_zip                   85 non-null     int64
 64  store_phone                 85 non-null     int64
 65  brand                       31 non-null     object
 66  size                        31 non-null     object
 67  points                      85 non-null     int64
 68  redeemed_points             85 non-null     int64
 69  price_modification.1        2 non-null      float64
dtypes: float64(32), int64(19), object(19)
memory usage: 46.6+ KB

##### üìñ describe the dataset

In [12]:
ds.describe()

,store_number,terminal,sale_id,customerid,sale_start_time,sale_end_time,line_number,cashier_number,customer_member_level,customer_phone,...,item_discount_amount,item_discount_percent,elec_store_coupon,qty,total_sales,store_zip,store_phone,points,redeemed_points,price_modification.1
count,85.0,85.0,85.000000,21.000000,85.000000,85.000000,85.000000,85.0,85.000000,5.000000e+00,...,85.000000,85.000000,85.000000,85.000000,85.000000,85.0,8.500000e+01,85.000000,85.0,2.000000
mean,725.0,902.0,108.317647,310.619048,158949.882353,159371.164706,2.376471,7.0,1.247059,6.153514e+09,...,0.012588,0.002118,0.112235,0.941176,3.808235,37206.0,5.555556e+09,0.117647,0.0,1.200000
std,0.0,0.0,7.954052,563.875028,33663.014282,33570.207740,1.353800,0.0,0.433861,0.000000e+00,...,0.064071,0.019524,0.409673,0.321934,6.164834,0.0,0.000000e+00,1.084652,0.0,2.687006
min,725.0,902.0,94.000000,3.000000,94904.000000,94907.000000,1.000000,7.0,1.000000,6.153514e+09,...,0.000000,0.000000,0.000000,-1.000000,-14.260000,37206.0,5.555556e+09,0.000000,0.0,-0.700000
25%,725.0,902.0,103.000000,3.000000,140434.000000,140505.000000,1.000000,7.0,1.000000,6.153514e+09,...,0.000000,0.000000,0.000000,1.000000,1.790000,37206.0,5.555556e+09,0.000000,0.0,0.250000
50%,725.0,902.0,108.000000,3.000000,150502.000000,150635.000000,2.000000,7.0,1.000000,6.153514e+09,...,0.000000,0.000000,0.000000,1.000000,2.300000,37206.0,5.555556e+09,0.000000,0.0,1.200000
75%,725.0,902.0,116.000000,3.000000,195437.000000,195507.000000,3.000000,7.0,1.000000,6.153514e+09,...,0.000000,0.000000,0.000000,1.000000,3.590000,37206.0,5.555556e+09,0.000000,0.0,2.150000
max,725.0,902.0,120.000000,1295.000000,210959.000000,211043.000000,6.000000,7.0,2.000000,6.153514e+09,...,0.500000,0.180000,1.590000,1.000000,25.270000,37206.0,5.555556e+09,10.000000,0.0,3.100000

##### üíä display the column names

In [13]:
ds.columns

Index(['store_number', 'terminal', 'store_name', 'sale_id', 'customerid',
       'sale_date', 'product_description', 'sale_start_time', 'sale_end_time',
       'sale_type', 'line_number', 'cashier_number', 'cashier_name',
       'customer_name', 'customer_member_level', 'customer_phone',
       'customer_address', 'customer_city', 'customer_zip', 'product_code',
       'sub_department', 'sale_qty', 'sale_price', 'weight', 'price',
       'price_split', 'fs', 'fsa', 'tax1', 'tax2', 'tax3', 'tax4', 'tax5',
       'tax6', 'tax7', 'wic', 'scalable', 'follow_sub', 'price_type',
       'product_description.1', 'cost', 'case_size', 'void_flag',
       'refund_flag', 'price_modification', 'store_coupon', 'vendor_coupon',
       'category', 'category_description', 'sub_department_description',
       'vendor_id', 'vendor_name', 'package_discount', 'limited_discount',
       'item_discount_amount', 'item_discount_percent', 'elec_store_coupon',
       'qty', 'total_sales', 'customer_state', 'store_address', 'store_city',
       'store_state', 'store_zip', 'store_phone', 'brand', 'size', 'points',
       'redeemed_points', 'price_modification.1'],
      dtype='object')

#### üì¶ Excercise 1

We need to clean up the product_code column of this dataset.

Convert it to a string and remove the weird trailing '.0' that pandas has decided to add to the end

Then display the updated product code

![fixed](images/fixed_Product_code.png)

In [14]:
ds['product_code'] = ds['product_code'].astype(str).replace('.0', '', regex=True)

In [15]:
# convert product_code to a string and remove the trailing .0 at the end
ds[['product_code']].head(5)

  product_code
0           13
1           13
2           13
3         2464
4     41333821

#### üì¶ Excercise 2

The mananger would like to view all the items that have been voided in this dataset.

Locate all the voided items and display the product_code, product_description, sale_type, and the void_flag column

In [17]:
ds.loc[ds['void_flag'] == 1, ['product_code', 'product_description', 'sale_type', 'void_flag']]

   product_code  product_description sale_type  void_flag
2            13   Choc Pop Tarts 13       SALE          1
3          2464     American Cheese       SALE          1
4      41333821  Duracell Batteries       SALE          1
49        12855  Boxed Potates 16 oz      SALE          1

![voids](images/voids1.png)

#### üì¶ Excercise 3

The mananger would like to view all the items that have been refunded.

üßô There is a little `trick` here, so investigate this column thoroughly.

The manager would also like for you to change the sale_type to `Refunded` so future reports will display correctly.

Display the product_code, product_description, sale_type, and refund_flag

In [18]:
ds.loc[ds['refund_flag'] != 0, 'sale_type'] = 'Refunded'
ds.loc[ds['refund_flag'] != 0, ['product_code', 'product_description', 'sale_type', 'refund_flag']]

   product_code  product_description sale_type  refund_flag
5          8045            Chardene   Refunded            9
48     41333821  Duracell Batteries   Refunded            9

![refunds](images/refunds.png)

#### üì¶ Excercise 4

Let's display the unique sale_type column to see what type of sales we have

In [32]:
ds['sale_type'].unique()

array(['Voided', 'SALE', 'Refunded'], dtype=object)

![uniques](images/uniques.png)

#### üì¶ Excercise 5

We need to do a little clean-up on our dataset.

Let's change the sale_type to `Voided` where it currently equals `VOIDED`

Then display the voided items to match the screenshot below

In [20]:
# change sale_type column to Voided for all voided items
ds.loc[ds['sale_type'] == 'VOIDED', 'sale_type'] = 'Voided'

In [21]:
ds.loc[ds['sale_type'] == 'Voided', ['product_code', 'product_description', 'sale_type']]

   product_code      product_description sale_type
0            13       Choc Pop Tarts 13     Voided
20         2441           Snickers 1 box    Voided
33          nan             Cancel order    Voided
52           14  this%has%percent%signs     Voided
53           15        single%sign+plus     Voided
77          nan             Cancel order    Voided

![void_output](images/void_output.png)

#### üì¶ Excercise 6

The manage just noticed that item 14 has a really messy description.

We need to clean this item up by removing the percent 

then show the manager that the item has been corrected

##### üß† Tricks to consider

- <strong>`mask`</strong>:         finds the rows where the condition matches.
- <strong>`loc[...]`</strong>:     scopes the changes to just those rows and that column
- <strong>`.astype(str)`</strong>: ensures no weird types break the .str methods
- <strong>`.str.replace`</strong>: replaces all `%` signs with a space

In [31]:
mask = ds['product_code'] == '14'
ds.loc[mask, 'product_description'] = (
    ds.loc[mask,'product_description'].astype(str).str.replace('%', ' ', regex=False)
)

ds.loc[mask, ['product_code', 'product_description']]

   product_code      product_description
52           14  this has percent signs

![fixed](images/fixed_description.png)

#### üì¶ Excercise 7

The manager would like to make the sale_type column a litte more consistent.

Rename all records with a sale_type of `SALE` to just read `Sale`.

Then display the newly updated unique sale types

In [33]:
ds.loc[ds['sale_type'] == 'SALE', 'sale_type'] = 'Sale'
ds['sale_type'].unique()

array(['Voided', 'Sale', 'Refunded'], dtype=object)

![new_uniques](images/new_uniques.png)

#### üì¶ Excercise 8

The manager would like to view a simple report where the data is grouped by the `product_description`

They want the quantities summed up
They would also like the total sales summed up

They want to view the descriptions, qty, sales, and the product code

In [34]:
grouped = ds.groupby('product_description').agg({
    'qty': 'sum',
    'total_sales': 'sum',
    'product_code': 'first'
})
grouped.sort_values('total_sales', ascending=False).head()

                           qty  total_sales product_code
product_description
Cash                        24       142.92          nan
Whoppers 1 box              15        33.21           24
Boneless Chicken Breasts     1        22.16            0
Chicken Breasts              1        16.99       111978
Pork Chops                   2        14.70            0

### üç∞ Congrats

I hope you made it this far with success. If so, feel good, but we are not done yet. 

There is more fun to be had